.table{
    width: 980px;
    height: 670px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    border: 3px solid rgba(120, 87, 243, 0.46);
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 50px;
    border: 3px solid rgba(89, 50, 234, 0.46);
}
h1 {
    width: 986px;
height: 78px;
left: -3px;
top: -3px;

background: #7250F2;
box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
border-radius: 27px;
}
.btn-one {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 13px 36px;
width: 158px;
height: 70px;
left: 382px;
top: 942px;

background: #7350F2;
border-radius: 7px;
}
.btn-two {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 13px 36px;
width: 158px;
height: 70px;
left: 1210px;
top: 942px;

background: #7350F2;
border-radius: 7px;
}
.button{
    background:#FFFFFF;
    cursor: pointer;
    border: 1px solid #282828;
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 50px;
    left: 40px;
    top: 160px;
    border: 1px solid rgba(89, 50, 234, 0.42);
    box-sizing: border-box;
    border-radius: 15px;
}
@media screen {
    
}
